@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
    height: 100%;
  background: url('/FoldBg.png') no-repeat center center fixed;
   background-size: cover;
  color: var(--foreground);

   font-family: "Plus Jakarta Sans", sans-serif;

}
