@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #171717;

  --primary-dark: #061C47;
  --primary: #0B3D91;
  --primary-light: #B8D1F8;

  --neutral-light: #F5F5F5;
  --neutral-dark: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

   --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-neutral-light: var(--neutral-light);
  --color-neutral-dark: var(--neutral-dark);
  --font-sans: var(--font-plus-jakarta);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;

      --primary-dark: #0B3D91; /* invert for dark mode */
    --primary: #B8D1F8;
    --primary-light: #061C47;

    --neutral-light: #212121;
    --neutral-dark: #F5F5F5;
  }
}

body {
    height: 100%;
  background: url('/FoldBg.png') no-repeat center center fixed;
   background-size: cover;
  color: var(--foreground);

   font-family: "Plus Jakarta Sans", sans-serif;

}
